# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Useless files
StructLayoutSettings.json
*.sln
/x64/
*.tlog
*.log
*.pdb
*.vcxproj*
*.vsidx
*.suo
*.ipch
*.ilk
*.idb
DocumentLayout.json
*.obj.enc
*.exe.recipe
*.db
HierarchyCache.v1.txt
